<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="GoogleAPIKey" value="AIzaSyBLaMbfK9qagaUngMR8tz9hzGFVEdaMw_E"/>
    <add key="GoogleSearchEngineID" value="014542846031263441267:ztresdyut3a"/>
    <add key="BINGAccessKey" value="60cdd26bf1e04e22be727e96f0a3e4db"/>
    <add key="BINGUriBase" value="https://api.cognitive.microsoft.com/bing/v7.0/search"/>
  </appSettings>
</configuration>